body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

.left {
    text-align: left;
}

header {
    background-color: #900;
    color: white;
    padding: 20px;
}

nav {
    background-color: #600;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #900;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.header-container {
    display: flex;
    align-items: center; /* Ensures the emblem and text align vertically */
}

.emblem {
    width: 80px; /* Adjust the size as needed */
    height: auto;
    margin-right: 15px; /* Adds space between the emblem and text */
}
